<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Gunner1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {64, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 0}, {64, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 70}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 0}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 70}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {64, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 70}, {64, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 0}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 0}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {64, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 70}, {64, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 0}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {64, 68}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{64, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 0}, {64, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gunner9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 70}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Gunner</string>
		<key>textureFileName</key>
		<string>GunnerWalking.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>