<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>MainCharacterGreenBoy1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {40, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {40, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {50, 68}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{50, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 0}, {50, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {48, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 0}, {48, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {48, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{48, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 0}, {48, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {48, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{48, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 70}, {48, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {44, 66}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{44, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 0}, {44, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {40, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 0}, {40, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {42, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{42, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 0}, {42, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {44, 68}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{44, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 0}, {44, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {44, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{44, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 70}, {44, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {44, 68}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{44, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 0}, {44, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {40, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{40, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 70}, {40, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {40, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 0}, {40, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {42, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{42, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 70}, {42, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {40, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 0}, {40, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, 6}</string>
			<key>spriteSize</key>
			<string>{66, 56}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 70}, {66, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {66, 54}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{66, 54}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 70}, {66, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 70}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterGreenBoy9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {46, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{46, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 70}, {46, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>MainCharacterGreenBoy</string>
		<key>textureFileName</key>
		<string>MainCharacterGreenBoy.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>