<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>MainCharacterPurpleGirl1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {48, 66}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{48, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 0}, {48, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {48, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 0}, {48, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {54, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{54, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 0}, {54, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {54, 66}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{54, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 0}, {54, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {54, 64}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{54, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 70}, {54, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {48, 64}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{48, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 70}, {48, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {50, 64}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{50, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 70}, {50, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {50, 64}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{50, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 70}, {50, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {48, 66}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{48, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 0}, {48, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {54, 66}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{54, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 0}, {54, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {48, 66}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{48, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 0}, {48, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {48, 62}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{48, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 136}, {48, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {50, 64}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{50, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 0}, {50, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {50, 62}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{50, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 70}, {50, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {48, 64}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{48, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 70}, {48, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {64, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{64, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 70}, {64, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {64, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{64, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 70}, {64, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainCharacterPurpleGirl9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {56, 64}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{56, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 70}, {56, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>MainCharacterPurpleGirl.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>